@charset "UTF-8";

body{
    background-image: linear-gradient(90deg, green,rgb(3, 151, 3),darkgreen);
}

h1{
    text-align: center;
    margin: 0px;
    padding-bottom: 20px;
    padding-top: 30px;
}

p{
    text-indent: 30px;
    text-align: justify;
    margin: 0px;
    padding: 5px;
    font-size: 20px;
}

button{
    margin-left: 60px;
    margin-top: 10px;
    color: black;
    font-weight: bold;
}

button:hover{
    color: magenta;
}

p#cliquea{
    margin: 0px;
    padding-bottom: 20px;
    color: red;
}

p#cliqueb{
    margin: 0px;
    padding-bottom: 20px;
    color: magenta;
}

p#cliquec{
    margin: 0px;
    padding-bottom: 20px;
    color: yellow;
}

#demo:hover{
    text-decoration: underline;
}

#treino:hover{
    text-decoration: underline;
}